# Importaci√≥n de librerias

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Carga de datos y previsualizaci√≥n

In [3]:
ruta = '/content/drive/MyDrive/clientes_sucios_grande.csv'
datos = pd.read_csv(ruta)
print(datos.head())
print(datos.info())

  Nombre  Edad     Ciudad  Ingresos Estado Civil
0   Juan  19.0  Barcelona       NaN       Casado
1  Elena   NaN     Madrid    1244.0        Viudo
2  Marta  50.0        NaN       NaN   Divorciada
3  Marta   NaN     Madrid    7216.0   Divorciada
4  Laura  35.0     Bilbao    1837.0   Divorciada
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nombre        100 non-null    object
 1   Edad          70 non-null     float64
 2   Ciudad        86 non-null     object
 3   Ingresos      32 non-null     float64
 4   Estado Civil  88 non-null     object
dtypes: float64(2), object(3)
memory usage: 4.0+ KB
None

# Limpieza

In [4]:
datos = datos.drop_duplicates()
datos["Edad"].fillna(datos["Edad"].mean(), inplace=True)
datos["Ingresos"].fillna(datos["Ingresos"].mean(), inplace=True)
datos["Estado Civil"].fillna("Desconocido", inplace=True)

/tmp/ipython-input-606215050.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos["Edad"].fillna(datos["Edad"].mean(), inplace=True)
/tmp/ipython-input-606215050.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos["Ingresos"].fillna(datos["Ingresos"].mean(), inplace=True)
/tmp/ipython-input-606215050.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos["Estado Civil"].fillna("Desconocido", inplace=True)

# Enriquecimiento

In [5]:
# Creamos una nueva columna llamada "Nivel_Ingreso"
datos["Nivel_Ingreso"] = pd.cut(
    datos["Ingresos"],
    bins=[0,2000,4000,6000],
    labels=["Bajo","Medio","Alto"]
)

# Preprocesamiento

In [6]:
# Normalizamos ingresos entre 0 y 1.
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
datos[["Ingresos"]] = scaler.fit_transform(datos[["Ingresos"]])
# Codificamos ciudad (One-Hot Encoding)
datos = pd.get_dummies(datos, columns=["Ciudad"])

# Guardado de datos

In [7]:
datos.to_csv("clientes_limpios.csv", index = False)

# Comparaci√≥n de datos

In [8]:
# 1. Carga de archivos
sucio = pd.read_csv("/content/drive/MyDrive/clientes_sucios_grande.csv")
limpio = pd.read_csv('clientes_limpios.csv')

# 2. Mostrar estructura general
print("üîπ Columnas en archivo sucio:", sucio.columns.tolist())
print("üîπ Columnas en archivo limpio:", limpio.columns.tolist())
print("\nüî∏ Tipos de datos (sucio):\n", sucio.dtypes)
print("\nüî∏ Tipos de datos (limpio):\n", limpio.dtypes)

# 3. Comparar n√∫mero de filas y columnas
print(f"\nüìä Dimensiones - Sucio: {sucio.shape}, Limpio: {limpio.shape}")

# 4. Comparar valores nulos
print("\nüßº Valores nulos por columna (sucio):\n", sucio.isnull().sum())
print("\n‚úÖ Valores nulos por columna (limpio):\n", limpio.isnull().sum())

# 5. Estad√≠sticas descriptivas
print("\nüìà Estad√≠sticas descriptivas (sucio):\n", sucio.describe(include='all'))
print("\nüìà Estad√≠sticas descriptivas (limpio):\n", limpio.describe(include='all'))

# 6. Ver filas duplicadas en el dataset sucio
duplicados = sucio[sucio.duplicated()]
print(f"\nüìé Filas duplicadas en sucio: {len(duplicados)}")

# 7. Filas que est√°n en sucio y ya no est√°n en limpio (posiblemente eliminadas)
diferencia = pd.concat([sucio, limpio]).drop_duplicates(keep=False)
print(f"\nüßê Filas diferentes entre ambos archivos: {len(diferencia)}")
print(diferencia.head())

# 8. Comparar directamente fila por fila (si tienen mismo orden e √≠ndices)
if sucio.shape == limpio.shape:
    diferencias_elemento = (sucio != limpio).sum()
    print("\nüîç Diferencias por columna (elemento por elemento):\n", diferencias_elemento)
else:
    print("\n‚ùóLos archivos tienen diferente n√∫mero de filas/columnas. Comparaci√≥n directa no es posible.")

# 9. Comparar columnas faltantes o a√±adidas
columnas_sucio = set(sucio.columns)
columnas_limpio = set(limpio.columns)
print("\n‚ûñ Columnas que est√°n en sucio y no en limpio:", columnas_sucio - columnas_limpio)
print("‚ûï Columnas que est√°n en limpio y no en sucio:", columnas_limpio - columnas_sucio)

üîπ Columnas en archivo sucio: ['Nombre', 'Edad', 'Ciudad', 'Ingresos', 'Estado Civil']
üîπ Columnas en archivo limpio: ['Nombre', 'Edad', 'Ingresos', 'Estado Civil', 'Nivel_Ingreso', 'Ciudad_Barcelona', 'Ciudad_Bilbao', 'Ciudad_Granada', 'Ciudad_Madrid', 'Ciudad_M√°laga', 'Ciudad_Sevilla', 'Ciudad_Sevilla ', 'Ciudad_Valencia', 'Ciudad_Zaragoza', 'Ciudad_madrid']

üî∏ Tipos de datos (sucio):
 Nombre           object
Edad            float64
Ciudad           object
Ingresos        float64
Estado Civil     object
dtype: object

üî∏ Tipos de datos (limpio):
 Nombre               object
Edad                float64
Ingresos            float64
Estado Civil         object
Nivel_Ingreso        object
Ciudad_Barcelona       bool
Ciudad_Bilbao          bool
Ciudad_Granada         bool
Ciudad_Madrid          bool
Ciudad_M√°laga          bool
Ciudad_Sevilla         bool
Ciudad_Sevilla         bool
Ciudad_Valencia        bool
Ciudad_Zaragoza        bool
Ciudad_madrid          bool
dtype: object

üìä Dimensiones - Sucio: (100, 5), Limpio: (100, 15)

üßº Valores nulos por columna (sucio):
 Nombre           0
Edad            30
Ciudad          14
Ingresos        68
Estado Civil    12
dtype: int64

‚úÖ Valores nulos por columna (limpio):
 Nombre              0
Edad                0
Ingresos            0
Estado Civil        0
Nivel_Ingreso       9
Ciudad_Barcelona    0
Ciudad_Bilbao       0
Ciudad_Granada      0
Ciudad_Madrid       0
Ciudad_M√°laga       0
Ciudad_Sevilla      0
Ciudad_Sevilla      0
Ciudad_Valencia     0
Ciudad_Zaragoza     0
Ciudad_madrid       0
dtype: int64

üìà Estad√≠sticas descriptivas (sucio):
        Nombre       Edad  Ciudad     Ingresos Estado Civil
count     100  70.000000      86    32.000000           88
unique     20        NaN      10          NaN            7
top     Marta        NaN  M√°laga          NaN        Viudo
freq       12        NaN      13          NaN           16
mean      NaN  20.814286     NaN  4633.531250          NaN
std       NaN  24.257252     NaN  2168.143713          NaN
min       NaN  -5.000000     NaN  1244.000000          NaN
25%       NaN  -2.000000     NaN  2831.000000          NaN
50%       NaN  22.000000     NaN  4392.500000          NaN
75%       NaN  43.750000     NaN  6807.500000          NaN
max       NaN  63.000000     NaN  7977.000000          NaN

üìà Estad√≠sticas descriptivas (limpio):
        Nombre        Edad    Ingresos Estado Civil Nivel_Ingreso  \
count     100  100.000000  100.000000          100            91
unique     20         NaN         NaN            8             3
top     Marta         NaN         NaN        Viudo          Alto
freq       12         NaN         NaN           16            76
mean      NaN   20.814286    0.503421          NaN           NaN
std       NaN   20.251097    0.180195          NaN           NaN
min       NaN   -5.000000    0.000000          NaN           NaN
25%       NaN   -2.000000    0.503421          NaN           NaN
50%       NaN   20.814286    0.503421          NaN           NaN
75%       NaN   35.250000    0.503421          NaN           NaN
max       NaN   63.000000    1.000000          NaN           NaN

       Ciudad_Barcelona Ciudad_Bilbao Ciudad_Granada Ciudad_Madrid  \
count               100           100            100           100
unique                2             2              2             2
top               False         False          False         False
freq                 94            91             96            93
mean                NaN           NaN            NaN           NaN
std                 NaN           NaN            NaN           NaN
min                 NaN           NaN            NaN           NaN
25%                 NaN           NaN            NaN           NaN
50%                 NaN           NaN            NaN           NaN
75%                 NaN           NaN            NaN           NaN
max                 NaN           NaN            NaN           NaN

       Ciudad_M√°laga Ciudad_Sevilla Ciudad_Sevilla  Ciudad_Valencia  \
count            100            100             100             100
unique             2              2               2               2
top            False          False           False           False
freq              87             93              91              91
mean             NaN            NaN             NaN             NaN
std              NaN            NaN             NaN             NaN
min              NaN            NaN             NaN             NaN
25%              NaN            NaN             NaN             NaN
50%              NaN            NaN             NaN             NaN
75%              NaN            NaN             NaN             NaN
max              NaN            NaN             NaN             NaN

       Ciudad_Zaragoza Ciudad_madrid
count              100           100
unique               2             2
top              False         False
freq                89            89
mean               NaN           NaN
std                NaN           NaN
min                NaN           NaN
25%                NaN           NaN
50%                NaN           NaN
75%                NaN           NaN
max                NaN           NaN

üìé Filas duplicadas en sucio: 0

üßê Filas diferentes entre ambos archivos: 200
  Nombre  Edad     Ciudad  Ingresos Estado Civil Nivel_Ingreso  \
0   Juan  19.0  Barcelona       NaN       Casado           NaN
1  Elena   NaN     Madrid    1244.0        Viudo           NaN
2  Marta  50.0        NaN       NaN   Divorciada           NaN
3  Marta   NaN     Madrid    7216.0   Divorciada           NaN
4  Laura  35.0     Bilbao    1837.0   Divorciada           NaN

  Ciudad_Barcelona Ciudad_Bilbao Ciudad_Granada Ciudad_Madrid Ciudad_M√°laga  \
0              NaN           NaN            NaN           NaN           NaN
1              NaN           NaN            NaN           NaN           NaN
2              NaN           NaN            NaN           NaN           NaN
3              NaN           NaN            NaN           NaN           NaN
4              NaN           NaN            NaN           NaN           NaN

  Ciudad_Sevilla Ciudad_Sevilla  Ciudad_Valencia Ciudad_Zaragoza Ciudad_madrid
0            NaN             NaN             NaN             NaN           NaN
1            NaN             NaN             NaN             NaN           NaN
2            NaN             NaN             NaN             NaN           NaN
3            NaN             NaN             NaN             NaN           NaN
4            NaN             NaN             NaN             NaN           NaN

‚ùóLos archivos tienen diferente n√∫mero de filas/columnas. Comparaci√≥n directa no es posible.

‚ûñ Columnas que est√°n en sucio y no en limpio: {'Ciudad'}
‚ûï Columnas que est√°n en limpio y no en sucio: {'Ciudad_Bilbao', 'Ciudad_Barcelona', 'Ciudad_M√°laga', 'Ciudad_Sevilla', 'Ciudad_Madrid', 'Ciudad_Sevilla ', 'Ciudad_Valencia', 'Ciudad_Zaragoza', 'Nivel_Ingreso', 'Ciudad_Granada', 'Ciudad_madrid'}

In [9]:
diferencia.to_csv("diferencias_detectadas.csv", index=False)