# **PYTHON (Especialista en Inteligencia Artificial)**

![Python_logo_55.svg]()

**Python** es un **lenguaje de programación de alto nivel, de código abierto y multiparadigma**. Es decir, que puede ser utilizado para desarrollar aplicaciones de diferentes tipos, como aplicaciones web, aplicaciones de escritorio, aplicaciones móviles, aplicaciones científicas, entre otras.

**Python es un lenguaje interpretado**, lo que significa que el código Python no necesita ser compilado antes de ser ejecutado. Esto hace que Python sea un lenguaje muy fácil de aprender y usar, ya que no es necesario ejecutar todo unprogramapara ver resultados.

En lossiguientes notebooks nosotros llegaremos en Python hasta lo necesario para aplicarlo al curso.

# PRIMER PASO: HOLA MUNDO

Que mejor ejemplo de la simplicidad de python que el código necesario para escribir por pantalla (comparado con otros como Java o C++)

Aqui vemos también lo que es un comentario. Si en una línea escribimos (#) todo lo que viene después no se ejecuta, es solo un comentario.

In [1]:
# Clásico primer programa

print("¡Hola mundo!")

¡Hola mundo!

\

# **TIPOS DE DATOS SIMPLES Y SUS OPERACIONES**

En Python, un tipo de dato es una clasificación de los valores que pueden ser almacenados en una variable.

Una **variable** es un identificador que señala a una determinada dirección de memoria donde se guarda un valor.

Cada tipo de dato tiene características y propiedades específicas que lo hacen adecuado para ciertos usos y operaciones.

**Tipos de datos simples**

Los tipos de datos simples en Python son aquellos que no están compuestos por otros tipos de datos. Los tipos de datos simples más comunes son:

* **Enteros (int)**: Representan números enteros sin decimales. Por ejemplo 75 ; -23 ......
* **Decimales (float)**: Representan números con decimales (7.23 ; -954.1)
* **Cadenas de caracteres (str)**: Representan una secuencia de caracteres, texto ('Ana' ; '¿Como te encuentras hoy?' ; "el numero es 23"). **Las cadenas se deben escribir entre comillas simples o dobles** (unas o las otras)
* **Booleanos (bool)**: Representan valores lógicos, como verdadero (True) o falso (False).

\
Al contrario que en otros lenguajes **las variables de cualquier tipo no tienen que declararse antes de utilizarlas.**

In [2]:
# guardamos en la variable saldo una cantidad en euros (tipo float)
# asignamos el valor directamente sin declaración previa
saldo = 853.27

# otro ejemplo aquí de tipo cadena (string, str)
localidad = "Jerez de la Frontera"

print(localidad)
print(saldo)

Jerez de la Frontera
853.27

En este primer ejemplo de código que vemos nos aparece el **operador de asignación con el símbolo de igual (=)**.\
Con este operador asignamos a una variable u objeto un determinado valor, en este caso el valor <853.27> lo "guardamos" en la variable "saldo" y la cadena "Jerez de la Frontera" en la variable "localidad".

## - **Operaciones con tipos de datos numéricos (enteros y decimales)**

Soportan las conocidas operaciones y funciones matemáticas:

**Operaciones matemáticas**

Las operaciones matemáticas básicas (con sus símbolos correspondientes) que se pueden realizar con tipos de datos son:

* Suma (+)
* Resta (-)
* Multiplicación (*)
* División (/)
* División entera (//)
* Módulo (%)
* Potencia (**)

In [3]:
# Suma de dos números
a = 10
b = 20
suma = a + b
print(suma)

30

Vemos ahora un ejemplo más complejo, el cálculo para pasar la temperatura de grados Celsius a Fahrenheit:

In [4]:
# Temperatura en Celsius
grados_celsius = 20

# Realizamos la conversión
grados_fahrenheit = (grados_celsius * 9 / 5) + 32

# Imprimimos el resultado
print(grados_fahrenheit)

68.0

\

## - **Operaciones de comparación o relacionales**

Se utilizan en determinados tipos, siempre comparando valores del mismo tipo. Dan como resultado un valor booleano (True/False) según se cumpla o no la comparación:

* **Igual (==)**: Devuelve verdadero si los operandos son iguales. **Vease como se escribe 2 veces el simbolo igual, para diferenciarlo del operador asignación.**
* **Distinto (!=)**: Devuelve verdadero si los operandos son diferentes.
* **Menor que (<)**: Devuelve verdadero si el primer operando es menor que el segundo.
* **Menor o igual que (<=)**: Devuelve verdadero si el primer operando es menor o igual que el segundo.
* **Mayor que (>)**: Devuelve verdadero si el primer operando es mayor que el segundo.
* **Mayor o igual que (>=)**: Devuelve verdadero si el primer operando es mayor o igual que el segundo.

In [5]:
# siguiendo con el ejemplo anterior:
print(suma)
print(suma > 10)

30
True

In [6]:
# se pueden utilizar en cadenas, por ejemplo para comprobar un nombre:

nombre = 'Eduardo'

print(nombre == 'Pepe')

False

\

## - **Operaciones lógicas**

Las operaciones lógicas se  realizan sobre tipos de datos booleanos y sirven para evaluar condiciones compuestas:

* **And:** Devuelve verdadero si ambos operandos (condiciones) son verdaderos (OPERADOR "Y")
* **Or:** Devuelve verdadero si al menos uno de los operandos (condiciones) es verdadero (OPERADOR "O")
* **Not:** Devuelve verdadero si el operando (condición) es falso, y viceversa (OPERADOR "NO")

In [7]:
# VALORES PREVIOS

print(nombre)
print(suma)

Eduardo
30

In [8]:
print(nombre=='Eduardo' and suma==30)   # TRUE: se cumplen ambas (OPERADOR "Y")

print(nombre=='Pepe' and suma==30)      # FALSE: una de ellas o ambas no se cumplen (OPERADOR "Y")

print(nombre=='Pepe' or suma==30)      # TRUE: BASTA QUE SE CUMPLA UNA DE ELLAS (OPERADOR "O")

print(not suma==50)                    # como suma==50 es Falso, devuelve VERDADERO

True
False
True
True

\

## - **Operaciones de cadenas**

Para las cadenas **el símbolo (+) indica la concatenación de cadenas** (escribir una despues de otra)

In [9]:
saludo = "Buenas tardes"
nombre = "Claudia"

frase = saludo + " " + nombre
print(frase)

Buenas tardes Claudia

# ESTRUCTURAS CONDICIONALES

Una estructura condicional es un bloque de código que nos permite realizar unas acciones determinadas u otras, según se cumplan o no unas condiciones que nosotros indiquemos.

Las palabras clave a utilizar son **<if ... else>**. Veamoslo con un ejemplo:

In [10]:
# Condicional if
if suma > 30:
    print("La suma es mayor a 30.")
else:
    print("La suma es menor o igual a 30.")

La suma es menor o igual a 30.

**También se pueden evaluar varias condiciones**  <if .... elif ... else>

*Vamos a a provechar este punto para presentar la función "**input**"* (mas adelante presentaremos las funciones, por ahora solo la usamos), que permite preguntar al usuario para que introduzca valores por el teclado. **"Input" devuelve una cadena**, y entre paréntesis debemos escribir el texto que queramos que salga por pantalla (en forma de cadena también):

Veamos el ejemplo:

In [11]:
semaforo = input("¿De qué color está el semáforo?: ")

if semaforo == "rojo":
  print("Pisa el freno")
elif semaforo == "amarillo":
  print("Aprieta a ver si pasamos (MAAAALLL)")
else:
  print("Podemos pasar sin problema")

¿De qué color está el semáforo?:  rojo

Pisa el freno

# EJERCICIO 1.
Escriba el codigo necesario para pedir dos número por teclado, identificar cual es el mas pequeño (guardarlo) , y despues de sumarle el 20 por ciento sacarlo por pantalla

In [12]:
# Escribe aqui la respuesta

a = float(input("Introduzca primer numero: "))
b = float(input("Introduzca segundo numero: "))

if a<b:
    minimo = a

elif b<a:
    minimo = b
    
else:
    ## la unica opcion que queda es que sean iguales
    ## Puedo considerar que entonces minimo es cualquiera de ellos, elijo 'a' en este caso
    minimo = a
    
print('El minimo es : ', minimo)

## Ahora le sumamos el 20%

resultado = minimo + (20*minimo/100)

print('Con una subida del 20% se queda: ', resultado)

Introduzca primer numero:  10
Introduzca segundo numero:  22

El minimo es :  10.0
Con una subida del 20% se queda:  12.0

\

# TIPOS DE DATOS COMPUESTOS EN PYTHON Y SUS MÉTODOS MAS UTILIZADOS

En Python, los tipos de datos compuestos son aquellos que pueden contener otros tipos de datos (simples, incluso otros compuestos). **Los tipos de datos compuestos más utilizados son las listas, tuplas y los diccionarios.**

## Listas

Las **listas** son una s**ecuencia de elementos** que pueden ser de cualquier tipo de datos. Se definen mediante corchetes [] y se separan los elementos con una coma.

In [22]:
# Ejemplo de una lista
mi_lista = [1, 2, 3, "Hola", True]

**Las listas son mutables**, lo que significa que **se pueden modificar** después de su creación. **Podemos acceder a posisiones individuales (primer, segundo elemento ...) especificando el número de orden en la lista entre corchetes**. Hay que tener en cuenta que en Python el primer elemento se corresponde con el CERO(0).
Podemos acceder así a los elementos individuales para leerlos o cambiarlos:

In [23]:
mi_lista[2] = "Adiós"
print(mi_lista)

[1, 2, 'Adiós', 'Hola', True]

También **podemos empezar a contar la posición desde el final de la lista**. En este caso se utilizan números negativos empezando por el [-1] para el último, [-2] para el penúltimo, etc:

In [24]:
print(mi_lista[-2])

Hola

Por último **podemos acceder a un rango continuo** (de tal posición a tal otra), especificando los límites separados por 2 puntos **(posición_inicial:posición_final)**.

En Python **la posición inferior indicada en el rango se incluye pero la superior no**, veamos por ejemplo si queremos recuperar los 3 primeros elementos con un ejemplo:

In [25]:
print('Lista original: ', mi_lista)

print('Recupero rango 0-3: ', mi_lista[0:3])

Lista original:  [1, 2, 'Adiós', 'Hola', True]
Recupero rango 0-3:  [1, 2, 'Adiós']

Recupera las posiciones 0,1 y 2 (las 3 primeras) pero la 3 (posicion superior entre corchetes) NO

### Algunas funciones y métodos de listas más usadas.

Una de las **funciones mas utilizada** es **<len()>**, que devuelve el número de elementos de la lista.

Las listas tienen una serie de métodos que permiten operar con ellas. Los métodos se llaman escribiendo un punto al final del nombre de la variable y a continuación el método.

Algunos de los métodos más utilizados son:

* `append()`: Añade un elemento al final de la lista, especificandolo entre paréntesis
* `remove()`: Elimina un elemento de la lista (especificando su valor o nombre).
* `sort()`: Ordena la lista de forma ascendente (solo si todos los elementos son del mismo tipo)
* `reverse()`: Invierte el orden de la lista (solo si todos los elementos son del mismo tipo)

In [26]:
print(mi_lista)

[1, 2, 'Adiós', 'Hola', True]

In [27]:
mi_lista.append('Clodovedo IV')
print(mi_lista)

[1, 2, 'Adiós', 'Hola', True, 'Clodovedo IV']

In [28]:
mi_lista.remove('Hola')
print(mi_lista)

[1, 2, 'Adiós', True, 'Clodovedo IV']

\

## Tuplas

Las Tuplas son similares a las listas, almacenan también una secuencia de elementos que pueden ser de cualquier tipo de datos. La diferencia es que las tuplas son inmutables, no se puede alterar su contenido.

Se definen mediante paréntesis () y se separan los elementos con una coma.

Se puede acceder a sus elementos individuales y a rangos de la misma forma como vimos en las listas

In [29]:
dias_semana = ('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo')

print(dias_semana[4:])  # si no especificas posición final del rango, recupera hasta el final

('Viernes', 'Sábado', 'Domingo')

In [30]:
# Por mucho que queramos, no podemos cambiar los elementos de una tupla (son inmutables):

dias_semana[0] = "Infernal Lunes"

TypeError: 'tuple' object does not support item assignment

También se puede utilizar la función <len()> pero no los métodos vistos antes (append()...) ya que alteran el contenido y daría de nuevo error.

In [31]:
dias_semana.append('Otro Domingo')

AttributeError: 'tuple' object has no attribute 'append'

\

## Diccionarios

Los **diccionarios** son una **estructura de datos que asocia claves a valores**. Las claves pueden ser de cualquier tipo de datos inmutable (usualmente cadena), mientras que los valores pueden ser de cualquier tipo de datos. Para cada par **se escribe primero la clave, después 2 puntos (:) y por último el valor, separando los distintos pares por comas.**

**Las claves permiten acceder al valor correspondiente**, especificandole entre corchetes depués del nombre del diccionario:

In [32]:
cliente = {'Nombre': 'Ana', 'Apellido': 'Montes', 'edad': 78, 'activo': False}

print(cliente['Nombre'])

Ana

Los diccionarios si se pueden modificar:

In [33]:
cliente['Apellido'] = 'Montesdeoca'

print(cliente)

{'Nombre': 'Ana', 'Apellido': 'Montesdeoca', 'edad': 78, 'activo': False}

Si la clave no existe, se añade al dicionario:

In [34]:
cliente['tiene_prestamo'] = False

print(cliente)

{'Nombre': 'Ana', 'Apellido': 'Montesdeoca', 'edad': 78, 'activo': False, 'tiene_prestamo': False}

\

### Métodos más utilizados de los diccionarios

Los diccionarios tienen una serie de métodos que permiten operar con ellos. Algunos de los métodos más utilizados son:

* `keys()`: Devuelve una lista con las claves del diccionario.
* `values()`: Devuelve una lista con los valores del diccionario.
* `items()`: Devuelve una lista de tuplas con las claves y los valores del diccionario (útil para recorrer un diccionario, lo veremos)
* `get()`: Devuelve el valor asociado a una clave.
* `update()`: Añade o actualiza un par clave-valor del diccionario.

In [35]:
print(cliente.keys())

dict_keys(['Nombre', 'Apellido', 'edad', 'activo', 'tiene_prestamo'])

In [36]:
print(cliente.values())

dict_values(['Ana', 'Montesdeoca', 78, False, False])

In [37]:
cliente.update({'estado_civil': 'solter@'})

print(cliente)

{'Nombre': 'Ana', 'Apellido': 'Montesdeoca', 'edad': 78, 'activo': False, 'tiene_prestamo': False, 'estado_civil': 'solter@'}

**El método 'get' tiene la particularidad de poder especificar un valor por defecto a devolver, si no se encuentra la clave especificada en el diccionario:**

In [38]:
cliente.get('direccion', "Desconocida")

'Desconocida'

\

# EJERCICIO 2.

Tenemos un registro de alumnos de una clase en el que guardamos las notas de los parciales, para ello usamos un diccionario "alumnos". La clave es el nombre de pila del alumno, y el valor una lista con las notas (3 parciales). Se pide:

- Dar de alta a una alumna "Susana". Para ello primero crearemos la lista con las 3 notas (sed benevolentes). Después añadiremos el elemento correspondiente (nombre: notas) al diccionario.
- Consultar que notas ha sacado "Pedro"
- Devolver alumnos que estan en la clase
- (extra) ¿Podríamos modificar la nota del último parcial de "Ana"? Se ha portado bien como para subirle el 4.9

In [39]:
# Notas de la clase:
alumnos = {'Ana': [6.2, 7.5, 4.9], 'Pedro': [7.8, 9.3, 6.5], 'Rosa': [3.5, 6.2, 6.8]}

# ESCRIBIR A PARTIR DE AQUI EL CÓDIGO

## A) damos de alta a Susana. 

alumnos['Susana']= [5,7,9]

# también valdría: 
alumnos.update({'Susana': [5,7,9]})

print('Dada de alta Susana:')
print(alumnos)


## B) Consultar las notas de Pedro:

print('Las notas de Pedro son: ', alumnos['Pedro'])


## C) Devolver alumnos clase:

print('Alumnos en clase:')
print(alumnos.keys())


## D) Modificar la nota del último parcial de Ana

alumnos['Ana'][2] = 5
print('Nuevas notas de Ana: ', alumnos['Ana'])

Dada de alta Susana:
{'Ana': [6.2, 7.5, 4.9], 'Pedro': [7.8, 9.3, 6.5], 'Rosa': [3.5, 6.2, 6.8], 'Susana': [5, 7, 9]}
Las notas de Pedro son:  [7.8, 9.3, 6.5]
Alumnos en clase:
dict_keys(['Ana', 'Pedro', 'Rosa', 'Susana'])
Nuevas notas de Ana:  [6.2, 7.5, 5]

\

# ESTRUCTURAS ITERATIVAS O BUCLES

Las **estructuras iterativas** son un tipo de construcción de control de flujo que **permiten repetir un bloque de código una o varias veces**.

**En Python, las estructuras iterativas más comunes son los bucles `for`** (útil en Python para recorrer tipos compuestos) **y `while`.**

En la primera el número de repeticiones lo especificamos nosotros o viene dado por la longitud de la lista/tupla/diccionario a recorrer.
En el segundo especificamos la condición que se debe cumplir para que se siga repitiendo el bloque de código del bucle.

\

## **Bucle `for`**

El bucle `for` se utiliza a menudo para recorrer los elementos de un  iterable como una lista, una tupla o un diccionario. La sintaxis del bucle `for` son las siguientes en cada caso:

**NOTA**: aprovechamos este punto para introducir las llamadas "**f-strings**", que permiten personalizar de forma dinámica cadenas.

In [40]:
# recorrer una lista

lista_compra = ['pan', 'naranjas', 'brocoli', 'pechuga de pollo', 'refresco']

print('Entramos en el super......')

for producto in lista_compra:
  print(f'A buscar {producto}')     # uso f-string, especificamos entre llaves la expresión (variable, cálculo...) que queramos

print('Rápido a la caja')

Entramos en el super......
A buscar pan
A buscar naranjas
A buscar brocoli
A buscar pechuga de pollo
A buscar refresco
Rápido a la caja

Una tupla se recorrería exactamente de la misma forma.

Para los **diccionarios** es usual **recorrerlos valiendonos en el bucle 'for' del método <items()>** que nos devuelve los pares (tuplas clave-valor).

In [41]:
# recorrer diccionario

print('Los datos del cliente son:')

for clave, valor in cliente.items():
  print(f'Para el campo {clave} ===> {valor}')

Los datos del cliente son:
Para el campo Nombre ===> Ana
Para el campo Apellido ===> Montesdeoca
Para el campo edad ===> 78
Para el campo activo ===> False
Para el campo tiene_prestamo ===> False
Para el campo estado_civil ===> solter@

El bucle **'for' tambien permite especificar el nº de veces que se quiere repetir el código mediante la función 'range'.**

Incluso podemos especificar ciertos valores (inicio, final) y utilizarlos en el interior del bucle, como en otros lenguajes (**OJO**: de nuevo el extremo superior no se incluye).

In [42]:
# repetir 3 veces:

for iteracion in range(3):
  print('Mañana hará mas calor')

Mañana hará mas calor
Mañana hará mas calor
Mañana hará mas calor

In [43]:
# usar la "cuenta" en el interior, 5 vueltas:

for numero in range(1,6):
  print(f'Estamos en la vuelta ... {numero}')

Estamos en la vuelta ... 1
Estamos en la vuelta ... 2
Estamos en la vuelta ... 3
Estamos en la vuelta ... 4
Estamos en la vuelta ... 5

Vemos que si queremos terminar la cuenta en <5>, la posición final del rango (a la derecho de los :) es el <6>

\

## **Bucle `while`**

El bucle `while` se utiliza para repetir un bloque de código mientras se cumpla una condición. La sintaxis del bucle `while` es la siguiente:

while (condicion):


> cuerpo bucle (codigo a repetir mintras se cumpla la condición)

In [44]:
print('ESCONDITE: contamos hasta 10')

cuenta = 1

while cuenta<=10:
  print(f'{cuenta} ...')
  cuenta = cuenta + 1
    
print('voy a por ti ...')

ESCONDITE: contamos hasta 10
1 ...
2 ...
3 ...
4 ...
5 ...
6 ...
7 ...
8 ...
9 ...
10 ...
voy a por ti ...

\

## Instrucciones 'break' y 'continue'

Las instrucciones **'break' y 'continue'** me **permiten en los bucles alterar su ejecución natural**, en el primer caso saliendo de forma abrupta del bucle (aunque no haya llegado a su fin) y en el segundo saltar a la siguiente iteración.

Veamoslo con ejemplos:

In [45]:
# pase lo que pase, el viernes salgo "escopetao" del trabajo para casa:

print(dias_semana)

for dia in dias_semana:                                       # deberia recorrer todos los dias de la semana

  if dia == 'Viernes':                                        # pero el Viernes me despido <break>
    print('¡Por fin es Viernes...! Buen finde a todos')
    break
  else:
    print(f'Se acabó la jornada del {dia}, hasta mañana')

('Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo')
Se acabó la jornada del Lunes, hasta mañana
Se acabó la jornada del Martes, hasta mañana
Se acabó la jornada del Miércoles, hasta mañana
Se acabó la jornada del Jueves, hasta mañana
¡Por fin es Viernes...! Buen finde a todos

Un ejemplo de 'continue':

In [46]:
# a mi no me gusta el brocoli, no me lo pongas en la lista

print(lista_compra)

for elemento in lista_compra:

  if elemento=='brocoli':
    continue

  else:
    print(f'A buscar el/la {elemento}....')

print('Rapido a la caja ...')

['pan', 'naranjas', 'brocoli', 'pechuga de pollo', 'refresco']
A buscar el/la pan....
A buscar el/la naranjas....
A buscar el/la pechuga de pollo....
A buscar el/la refresco....
Rapido a la caja ...

\

# EJERCICIO 3.

Escribir un código para introducir las notas de alumnos de una clase (solo las notas) y almacenarlas en alguna estructura. Debe pedir introducir notas por teclado continuamente hasta que el usuario escriba una nota negativa, entonces habra finalizado.

Finalmente sacar por pantalla todas las notas, una por linea.

**NOTA ADICIONAL**: como recordaran 'input' (para pedir datos por teclado) devuelve una cadena. Para convertirla a numero debemos emplear por ejemplo:

nota = float(input('Introduzca nota: '))

'float' es un conversor ("cast"), una función para variar el tipo de una variable, en este caso a decimal (flotante)

In [47]:
## Escribe aquí el código

# también valdria: notas = list()
notas = []

nota = 0
# o cualquier nº positivo, para que entre en el while de primeras

while nota>=0:
    
    nota = float(input('Introduzca nota: '))
    
    if nota>=0:
        notas.append(nota)
        
for elemento in notas:
    print(elemento)

Introduzca nota:  5
Introduzca nota:  7
Introduzca nota:  10
Introduzca nota:  -3

5.0
7.0
10.0

\

# **FUNCIONES EN PYTHON. PARÁMETROS. LLAMADA A UNA FUNCIÓN**

Las **funciones** son **bloques de código que se pueden reutilizar en un programa**. Permiten dividir el código en partes más pequeñas y fáciles de entender y mantener.

## **Definición de una función**

Para definir una función en Python, se utiliza la **palabra clave `def`**. La sintaxis es la siguiente:



def nombre_funcion(parametros):
    
    código de la función

    return valor_retorno

* `nombre_funcion`: es el nombre de la función. Debe ser un identificador válido en Python.
* `parametros`: son los valores que la función puede recibir como datos de entrada. Se pueden definir tantos parámetros como sea necesario, separados por comas.
* `código de la función`: es el código que se ejecuta cuando se llama a la función.
* `return valor_retorno`: palabra clave 'return' seguido del valor que la función devuelve. Si no se especifica un valor de retorno, la función devolverá `None` (valor nulo en Python)

**Ejemplos**

In [48]:
# Función que suma dos números
def suma(a, b):
    return a + b

# Función que imprime un saludo
def saludo(nombre):
    print("Hola, " + nombre)

# Función que calcula el área de un círculo
def area_circulo(radio):
    return 3.14 * radio ** 2

Una vez definidas las funciones **las podemos utilizar en cualquier parte posterior del código, llamandolas por su nombre y pasándoles los parámetros de entrada:**

In [49]:
print(suma(2,5))

print(area_circulo(1))

saludo('Paco')

7
3.14
Hola, Paco

\

## **Parámetros. Tipos.**

Los **parámetros** son los **valores de entrada** que la función puede recibir. Se pueden definir tantos parámetros como sea necesario (de tipos de dato simple o compuesto) separados por comas.

**Tipos de parámetros**

Atendiendo a **cómo son especificados en la llamada** a su función, los **parámetros** pueden ser **posicionales o por nombre**.

Los **parámetros** también admiten que especifiquemos un **valor predeterminado (parámetros por defecto)**

### **Parámetros posicionales**

Los parámetros posicionales son los que se pasan a la función en el mismo orden en que se especificaron en la definición de la función.

In [50]:
def suma(a, b):
    return a + b

print(suma(10, 20))    # "a" contiene el 10 y "b" contiene el 20

30

### **Parámetros por nombre**

Los **parámetros por nombre** son los que se pasan a la función utilizando el nombre del parámetro. No tienen por que respetar el orden que tenian en la definición de la función.

In [51]:
def suma(a, b):
    return a + b

print(suma(b=20, a=10))

30

### **Parámetros por defecto**

Los **parámetros por defecto** toman como **valores los predeterminados en la definición de la función SI no se proporciona ningún valor** al llamar a dicha función.

In [52]:
def saludo(nombre="Mundo"):
    print("Hola " + nombre)

# si no especificamos el valor del parámetro entre paréntesis en la llamada, toma el valor predeterminado en la definición
saludo('Pepe')

Hola Pepe

NOTA: a la hora de definir una función con varios parámetros, si tiene parámetros por defecto se deben especificar los últimos, depués del resto de parámetros

In [53]:
# FORMA CORRECTA: parámetro por defecto "mes" después del resto en la definición

def extracto_mensual(cliente, saldo, mes='Enero'):
  print(f'El cliente {cliente} tiene a finales de {mes} un saldo de: {saldo}')

extracto_mensual('Ana',15000)

El cliente Ana tiene a finales de Enero un saldo de: 15000

In [54]:
# FORMA INCORRECTA:

def extracto_mensual(cliente, mes='Enero', saldo):
  print(f'El cliente {cliente} tiene a finales de {mes} un saldo de: {saldo}')

SyntaxError: non-default argument follows default argument (3176964892.py, line 3)

\

# EJERCICIO 4.

El código para calcular la media de una serie de números lo podemos volver a necesitar. En vez de repetirlo (o copiar y pegar) podemos crearnos una función y llamarla siempre que la necesitemos (**principios de reutilización y ordenación del código**).

Como entrada (parámetro) tendriamos una lista con las notas. La función devolvería la media calculada.

Escribir dicha función.

In [55]:
# ESCRIBIR AQUÍ EL CÓDIGO DE LA FUNCIÓN 

def media_lista(lista):
    
    suma = 0
    for elemento in lista:
        suma = suma + elemento
        
    return suma/len(lista)

In [56]:
# PROBARLA CON UN EJEMPLO

medidas = [45, 36,85,96,12]

media_lista(medidas)

54.8

\

# OBJETOS. USO DE OBJETOS: ATRIBUTOS Y MÉTODOS

Dentro del paradigma de la **Programación Orientada a Objetos (POO)**, podemos definir de forma rápida un **objeto** como **una entidad que tiene unas características (atributos o propiedades) y unos métodos (acciones)**. Los objetos se crean a partir de la definición de una clase.

Un ejemplo en la vida real seria definir la Clase "Vehículo", por ejemplo con las propiedades "color", "numero_de_pasajeros", "matricula", etc. Como acciones puede tener "acelerar()", "fenar()", etc. Cada objeto que crearamos de esta clase tendría sus propios atributos y métodos.

**Dentro del mundo de los datos es más frecuente USAR objetos ya creados en librerías, que tener que crear nosotros objetos** (mediante Clases), y en eso nos vamos a centrar. Entrar en detalle en la POO escapa de las necesidades, objetivo y tiempo de este curso.

Sin darnos cuenta nosotros ya hemos usado objetos, ya que Python considera a todos los tipos de datos (incluso los simples) como objetos.

## Ejemplos: métodos de las listas y diccionarios. Métodos de las cadenas.

**En el fondo Python considera a todos los tipos de datos** que hemos visto (simples: numéricos, cadenas... ; compuestos: listas, diccionarios..) **como objetos** (objetos sencillos).

De hecho **hemos visto en apartados anteriores los métodos de los objetos listas (p.ejplo <append()>) o de los objetos diccionarios (<items()>).**

Para afianzar el concepto de uso de objetos vamos a ver algunos métodos de los más utilizados para cadenas (str):

* `upper()`: Devuelve una cadena con todos los caracteres en mayúsculas.
* `lower()`: Devuelve una cadena con todos los caracteres en minúsculas.

In [57]:
cadena = "Hola mundo"       # "instanciamos" o "iniciamos" el objeto cadena

print(cadena.upper())       # Llamamos al método correspondiente, escribiendo
print(cadena.lower())       # nombre_objeto.metodo()

HOLA MUNDO
hola mundo

* `find()`: Devuelve el índice de la primera aparición de una subcadena dentro de una cadena, si no está devuelve -1.
* `count()`: Devuelve el número de veces que aparece una subcadena dentro de una cadena.

In [58]:
cadena = "¿Has visto a Paco hoy?"

print(cadena.find("Paco"))

print(cadena.count("o"))

13
3

* `replace()`: Devuelve una cadena con una subcadena sustituida por otra.
* `split()`: Devuelve una lista de subcadenas delimitadas por un separador especificado entre parentesis (por defecto si no ponemos nada un espacio).

In [59]:
cadena = "Hola mundo"

print(cadena.replace("mundo", "universo"))

print(cadena.split('a'))      # nos sirve para separar las palabras en una frase

Hola universo
['Hol', ' mundo']

**DUDA:**
¿por qué el segundo resultado no contine 'universo', sino 'mundo'?

**Respuesta:** En la segunda línea el método "replace" devuelve un valor, no cambia la estructura de datos original (la cadena), por lo tanto caden sigue conteniendo "mundo"

# EJERCICIO 5.

Escribir una función que reciba como entrada una cadena de nombres en minúsculas se paradas por espacio y un nombre (cadena) determinado. Si el nombre se encuentra en la lista debe sacar por pantalla dicho nombre en MAYÚSCULAS. Si no está en la cadena sacar un mensaje personalizado notificándolo.

In [60]:
# ESCRIBIR AQUÍ EL CÓDIGO DE LA FUNCIÓN 

def buscar_palabra(cadena,palabra):
    if cadena.find(palabra)>=0:
        print(palabra.upper())
    else:
        print("Nombre no encontrado")

In [64]:
# PROBARLA CON EL EJEMPLO, buscando distintos nombres

ejemplo = 'pepe francisco ana rosa mario'

# Caso: SÍ está la palabra

buscar_palabra(ejemplo, 'ana')

ANA

In [65]:
# Caso: NO está la palabra

buscar_palabra(ejemplo,'alfredo')

Nombre no encontrado

# EJERCICIO 6.

¿Se podría devolver la posición que se encuentra entre los nombres?
**PISTA**: método split() de cadena y recorrer la lista (buscar en internet por término 'python enumerate')

**Vamos a ir "refinando" la solución (solo para que vean varias opciones)**

In [66]:
def posicion_en_lista_1(listado, nombre):
    for indice, palabra in enumerate(listado.split()):
        if palabra==nombre:
            print(f'{nombre} se encuentra en la posicion {indice+1}')

In [67]:
ejemplo

'pepe francisco ana rosa mario'

In [68]:
# caso "si se encuentra"

posicion_en_lista_1(ejemplo,'ana')

ana se encuentra en la posicion 3

In [69]:
# caso "no se encuentra"

posicion_en_lista_1(ejemplo,'alberto')

**No presenta mensaje en caso de que no encuentre, vamos a "refinar"**

In [70]:

def posicion_en_lista_2(listado, nombre):
    
    encontrado = False
    
    for indice, palabra in enumerate(listado.split()):
        if palabra==nombre:
            print(f'{nombre} se encuentra en la posicion {indice+1}')
            encontrado = True
            
    if not encontrado:
        print(f'{nombre} no se encuentra en la lista')

In [71]:
ejemplo

'pepe francisco ana rosa mario'

In [72]:
# caso "si se encuentra"

posicion_en_lista_2(ejemplo,'mario')

mario se encuentra en la posicion 5

In [73]:
# caso "no se encuentra"

posicion_en_lista_2(ejemplo,'alfredo')

alfredo no se encuentra en la lista

**ALGO UN POCO MAS AVANZADO:** En Python 'break' también se puede utilizar con la estructura condicional 'if', de esta forma si ya encontramos el nombre no seguimos buscando

In [74]:

def posicion_en_lista_3(listado, nombre):
    
    encontrado = False
    
    for indice, palabra in enumerate(listado.split()):
        if palabra==nombre:
            print(f'{nombre} se encuentra en la posicion {indice+1}')
            encontrado = True
            break
            print('no se lo que es break')
            
    if not encontrado:
        print(f'{nombre} no se encuentra en la lista')

In [75]:
ejemplo

'pepe francisco ana rosa mario'

In [76]:
# caso "si se encuentra"

posicion_en_lista_3(ejemplo,'francisco')

francisco se encuentra en la posicion 2

In [77]:
# caso "no se encuentra"

posicion_en_lista_3(ejemplo,'alfredo')

alfredo no se encuentra en la lista